/* Use Selectors and attributes for the HTML design */
#pro{
    border-top: 10px solid black;
    border-top-width: ;
    margin-right: 90%;

    

}
hr{
border-top: 2px solid black;
}
#title1{

    margin-left: 40%;
}
#Vorname{
    margin-left: 37.8%;
   
}
#Nachname{
    margin-left: 36.8%;
}
#Man{
 margin-left: 37%;
 
}
#Woman{
    margin-left: 3%;
   }
#IT{
    margin-left: 38.3%;
}
#Telefon{
margin-left: 38.5%;
}
#Mobile{
 margin-left: 38.5%;
}
#hau{
 margin-left: 35.5%;
}
#fax{
    margin-left: 41%;
}
#Mail{
margin-left: 40%;
}
#Mail2{
    margin-left: 40%;
}
#Frima{
   margin-left: 39.7%; 
}
#Frima2{
   margin-left: 37%;
}

#Homepage{
   margin-left: 37.5%;
}
#add{
    margin-left: 35%;
}
#zusa{
    margin-left: 36%;
border-style: bottom;
}
#Postfach{
    margin-left: 38.7%;
}
#pl{
    margin-left: 38.7%;
}
#adre{
    margin-left: 36.9%;
}
#spe{
    margin-left: 70%;
    background-color: red;
    color: white;
    padding: 15px;
 }
